* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    color: #ffffff;
    align-items: center;
    flex-direction: column;
    background-color: #f0f8ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    width: 100%;
    height: 65px;
    display: flex;
    padding: 10px;
    font-size: 32px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0088ff;
}
main {
    display: flex;
    color: #333333;
    flex-direction: column;
}
.container {
    display: flex;
    max-width: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
#z112{
    width: 100%;
    padding: 4px;
}
#btn{
    width: 150px;
    padding: 2px;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    background-color: #0088ff;
    border: 1px solid #004989;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 1px 2px #333333;
}
#btn:focus{
    background-color: #0076dc;
    border: 1px solid #006bc9;
    box-shadow: inset 1px 1px 2px #333333;
}
select {
    width: 125px;
}
footer {
    width: 100%;
    padding: 0;
    min-height: 30px;
    background-color: #b1e6ff;
}

footer .footerbox {
    padding: 8px;
}

footer .contacts {
    min-width: 50%;
    padding: 12px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
}

footer .contacts p {
    text-align: left !important;
}

footer .contacts .head {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
}

footer .copyright {
    padding: 2px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #0e3b5b;
}

a:link {
    color: #0088ff;
}

a:visited {
    color: #ae00ff;
}

@media (max-width: 575px) {
    .container {
        max-width: 350px;
    }
    #metro-map {
        width: 350px;
        height: 450px;
    }
    #metro-logo {
        width: 100px;
        height: 50px;
    }
    header {
        height: 55px;
    }
    select {
        width: 100px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 500px;
    }
    #metro-map {
        width: 500px;
        height: 550px;
    }
    #metro-logo {
        width: 110px;
        height: 55px;
    }
    header {
        height: 65px;
    }
    select {
        width: 125px;
    }
}