:root {
--trans-dur: 0.3s;
--trans-timing: cubic-bezier(0.65,0,0.35,1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: "Abel", serif;
	font-weight: 400;
	font-style: normal;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #ffffff;
}

header {
	display: flex;
	position: relative;
	height: 70px;
	flex-direction: row;
	background-image: linear-gradient(to bottom, #00000000, #00000010);
	color: #ffffff;
	overflow: hidden;
}

header .logo {
	max-width: 50vw;
	display: flex;
	font-size: 3rem;
	font-weight: bold;
	align-items: center;
	flex-direction: row;
	z-index: 1;
}

header .menu-opt {
	display: flex;
	align-items: center;
	flex-direction: row;
	z-index: 1;
}

header .menu-opt * {
	z-index: 1;
}

header .header {
	display: flex;
	height: 100%;
	font-size: 32px;
	padding: 8px;
	flex-direction: row;
	justify-content: space-between;
}


header .fog-1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('../img/fog-1.png');
	background-repeat: repeat-x;
	background-size: contain;
	background-position: center;
	animation: marquee 60s linear infinite;
	opacity: 0.6;
	width: 300vw;
}

header .fog-2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('../img/fog-2.png');
	background-repeat: repeat-x;
	background-size: contain;
	background-position: center;
	animation: marquee 30s linear infinite;
	width: 300vw;
	opacity: 0.6;
}

@keyframes marquee {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-200vw, 0, 0);
	}
}

img {
	display: block;
	max-width: 100%;
}



main {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

main #hero {
	width: 100%;
	position: relative;
	min-height: 100vh;
	background-color: #000000;
	background-image: linear-gradient(to bottom, #000000 65%, #000A1A);
	min-height: 100vh;
}

main .hero {
	height: 100%;
	display: flex;
	color: #fff;
	flex-direction: row;
}

#hero-svg {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

main .hero .hero-left {
	min-height: 100vh;
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

main .hero .hero-left .quote {
	font-size: clamp(2.5rem, calc(5vw + 1rem), 5rem);
	font-weight: 900;
}

main .hero .hero-right {
	width: 75%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.image-comparison {
	position: relative;
	width: 100%;
	max-width: 800px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	--slider-position: 100%;
}

.image-wrapper {
	position: relative;
	width: 100%;
	padding-top: 56.25%; /* 16:9 aspect ratio */
}

.image-wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-old {
	clip-path: inset(0 0% 0 0); /* Initially show half of the old image */
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.slider::-webkit-slider-thumb {
	appearance: none;
	width: 10px;
	height: 100%;
	background: transparent;
	cursor: ew-resize;
}

.slider::-moz-range-thumb {
	width: 10px;
	height: 100%;
	background: transparent;
	cursor: ew-resize;
}

/* White line to indicate the slider position */
.image-comparison::before {
	content: '';
	position: absolute;
	top: 0;
	left: var(--slider-position); /* Dynamically updated */
	width: 5px;
	height: 100%;
	background: #0057ee;
	background: #ffffff;
	z-index: 1;
	pointer-events: none;
	transform: translateX(-50%);
}

.image-comparison::after {
	content: '';
	position: absolute;
	top: 50%;
	left: var(--slider-position); /* Dynamically updated */
	width: 60px;
	height: 60px;
	background-image: url('../svg/lrc.svg');
	background-repeat: no-repeat;
	z-index: 1;
	pointer-events: none;
	transform: translate(-50%, -50%);
}

#second-quote {
position: relative;
}

#second-quote .content {
	min-height: calc(100vh - 70px);
	display: flex;
	position: absolute;
	width: 105%;
	height: 100%;
	text-align: center;
	background-image: linear-gradient(to bottom, #00000010, #000000aa);
	justify-content: center;
}

#second-quote .content .text {
	font-weight: 900;
	font-size: 5rem;
	font-size: 6vw;
	font-size: clamp(3.5rem, calc(5vw + 1rem), 5rem);
	/* font-size: 5rem; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}

#projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	color: #000000;
	background-color: #0056DB;
	background-image: linear-gradient(to top, #0056DB, #000A1A);
}

#projects h2 {
	font-size: 3.5rem;
	font-weight: bold;
	margin-top: 5rem;
	margin-bottom: 5rem;
	text-align: center;
	color: #ffffff;
}

#projects .projects {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}

#projects .projects .project {
	max-width: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid #0d131c;
	border-radius: 0.75rem;
	overflow: hidden;
	background-color: #253041;
	color: #ffffff;
	transition: all ease 0.3s;
}

#projects .projects .project:hover {
	transform: translateY(-0.5rem);
	box-shadow: 10px 10px 1rem rgba(0, 0, 0, 0.4);

}

#projects .projects .project .project-content {
	width: 100%;
	padding: 0.5rem;
	border-top: 1px solid #0d131c;
}

#projects .projects .project .project-link {
	margin-top: 0.5rem;
}

#projects .projects .project .project-link a {
	color: #76a1ff;
}

#projects .projects .project .project-link a:hover {
	color: #d654a4;
}

.wave-container {  
	height: 30vh;
	background-color: #0056DB;
	position: relative;
  }
  
  .wave-container::before {   
	content: "";
	width: 100%;
	height: 103px;
	position: absolute;
	bottom: -0.3%;
	left: 0;
	background-size: auto;
	background-repeat: repeat no-repeat;
	background-position: 36vw bottom;
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23FFFFFF'/></svg>");
  }
  
  @media(max-width:850px) {
	.wave-container::before {    
	  height: 51.5px
	}  
  }

#services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: transparent;
	color: #000000;
}

#services h2 {
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
	text-align: center;
	color: #000000;
}

#services .services {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}

#services .services .service {
	display: flex;
	flex-direction: column;
	color: #000000;
	max-width: 20rem;
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 2rem;
	height: 100%;
}

#services .services .service .service-icon {
	overflow: hidden;
	width: 100%;
	aspect-ratio: 1/1;
	transition: all ease 0.3s;
	border-radius: 2rem;
	transform: scale(0.9);
	border: 1px solid #eee;
    box-shadow: 2px 3px 14px #ccc;
}

#services .services .service .service-icon:hover {
	transform: scale(0.95);
}

#services .services .service .service-title {
	display: flex;
	font-size: 26px;
	width: 100%;
	font-weight: bold;
}

#services .services .service .service-description {
	display: flex;
	font-size: 22px;
	width: 100%;
}


#contact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #000000;
	background-image: url("../img/golden-frame-blue.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #ffffff;

}

.contact-container {
	width: 100%;
	margin: 0px auto;
	max-width: 75vw;
	background-image: linear-gradient(to bottom right, #26262bcc, #0a0a257d);
	display: flex;
	flex-direction: row;
	border-radius: 1rem;
	overflow: hidden;
}

.contact-container .contact-quote {
	width: 30%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #E3CD70;
	font-size: 1.5rem;
}

.contact-container .contact-quote .contact-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	color: #E3CD70;
	font-weight: bold;
}

.contact-container .contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-container .contacts .contacts-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.contact-container .contacts .contact-item {
	position: relative;
	width: 20vw;
	border-left: 2px solid #ccc;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-container .contacts .contact-item * {
	margin: 4px 0;
}


.contact-container .contacts .contact-item::before {
	content: "";
	position: absolute;
	top: 4.25rem;
	left: 0;
	transform: translate(-64%, 0%);
	width: 6px;
	height: 20px;
	background-color: #E3CD70;
	border-radius: 1rem;
}

.contact-container .contacts .contact-item .contact-title {
	font-size: 1rem;
	font-weight: bold;
}

.contact-container .contacts .contact-item .contact-description a {
	position: relative;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s;
}

.contact-container .contacts .contact-item .contact-description a:after{
	position: absolute;
	content: "≻";
	display: block;
	top: 50%;
	right: -14px;
	transform: translate(0%, -50%);
	transition: all 0.4s;
}

.contact-container .contacts .contact-item .contact-description a:hover{
	color: #E3CD70;
}

.contact-container .contacts .contact-item .contact-description a:hover:after{
	content: "-≻";
	right: -22px;
}




/*
#262626
#1A1A1A
#121212
*/





footer {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #ffffff;
	background-color: #1F232F;
	text-align: center;
}



/*
* Custom ms classes
*/

.ms-anchor {
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
}

.ms-btn-skewe {
	padding: 0.4rem 0.5rem;
	margin: 0 0.75rem;
	background-color: #000000;
	border: 1px solid #4d4d4d;
	border-radius: 1rem;
	transition:
		background var(--trans-dur) var(--trans-timing),
		border var(--trans-dur) var(--trans-timing);
}

.ms-btn-skewe:hover {
	border: 1px solid #fff;
	background-color: #212121;
}

.container {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 80rem;
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.button-86 {
	all: unset;
	width: 100px;
	height: 30px;
	font-size: 16px;
	background: transparent;
	border: none;
	position: relative;
	color: #f0f0f0;
	cursor: pointer;
	z-index: 1;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-86::after,
.button-86::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -99999;
	transition: all .4s;
}

.button-86::before {
	transform: translate(0%, 0%);
	width: 100%;
	height: 100%;
	background: #28282d;
	border-radius: 10px;
}

.button-86::after {
	transform: translate(10px, 10px);
	width: 35px;
	height: 35px;
	background: #ffffff15;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 50px;
}

.button-86:hover::before {
	transform: translate(5%, 20%);
	width: 110%;
	height: 110%;
}

.button-86:hover::after {
	border-radius: 10px;
	transform: translate(0, 0);
	width: 100%;
	height: 100%;
}

.button-86:active::after {
	transition: 0s;
	transform: translate(0, 5%);
}



html, body {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden; 
}

@media (max-width: 992px) {
	main #hero {
		min-height: auto;
	}

	main .hero {
		flex-direction: column;
		height: auto;
		min-height: auto;
	}

	main .hero .hero-left {
		min-height: 45vh;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		margin: 1rem auto;
	}
	main .hero .hero-left .quote {
		margin-top: 1rem;
	}
	
	main .hero .hero-right {
		min-height: 45vh;
		width: 100%;
	}

	.image-comparison {
		width: 100vw;
	}

	#projects {
		min-height: auto;
	}

	#projects h2 {
		margin: 1rem auto;
	}

	#projects .projects {
		flex-direction: column;
		align-items: center;
	}

	#projects .projects .project {
		width: 80%;
		min-width: 300px;
		max-width: 500px;
		margin: 1rem auto;
	}

	#services {
		min-height: auto;
	}

	#services .services {
		flex-direction: column;
		align-items: center;
	}

	#services .services .service {
		width: 80%;
		padding: 0 1rem;
		min-width: 300px;
		max-width: 500px;
		margin: 1rem auto;
		text-align: center;
		align-items: center;
	}
	
	#services .services .service .service-title {
		width: 100%;
		justify-content: center;
		text-align: center;
	}

	#contact {
		background-image: url("../img/golden-frame-blue-vert.JPG");
	}
	.contact-container {
		flex-direction: column;
		max-width: 95vw;
	}

	.contact-container .contact-quote {
		width: 100%;
	}

	.contact-container .contacts .contact-item .contact-line {
		display: none;
	}

	.contact-container .contacts .contacts-row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}