/* FULL */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    font-size: 18px;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eeeeee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    flex: 1 0 auto;
}

#logo {
    max-width: 500px;
    height: auto;
}

footer {
    padding: 0;
    min-height: 30px;
    background-color: #b1e6ff;
}

footer .footerbox {
    padding: 8px;
}

footer .contacts {
    min-width: 50%;
    padding: 12px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
}

footer .contacts p {
    text-align: left !important;
}

footer .contacts .head {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
}

footer .copyright {
    padding: 2px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #0e3b5b;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #cfcfcf;
}

.container {
    width: 97%;
    padding: 10px;
    display: flex;
    margin: 20px auto;
    border-radius: 12px;
    flex-direction: column;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.container .head {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.container .subhead {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.container p {
    text-align: justify;
}

header {    
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    color: #ffffff;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    background-color: #006c9e;
    justify-content: space-between;
}

header .logo {
    padding: 10px;
    font-size: 40px;
    font-weight: bolder;
    align-content: center;
}

header .menu-btn {
    padding: 14px;
    text-align: end;
    font-size: 26px;
    margin-right: 10px;
}

.menu {
    display: none;
    width: 100%;
    top: 70px;
    color: #ffffff;
    position: absolute;
    background: #008ddd;
}

.menu ul {
    list-style: none;
    padding: 0px 20px;
}

.menu ul li {
    margin: 3px;
    color: #ffffff;
}

.menu ul li a {
    display: block;
    padding: 8px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.menu ul li a:hover{
    background-color: #006c9e;
}

@media (max-width: 575px) {
    .collapse-mid {
        display: none;
    }
    .container {
        width: 80%;
    }
    #logo {
        max-width: 200px;
        height: 200px;
    }
}

@media (min-width: 576px) {
    .collapse-mid {
        display: none;
    }
    .container {
        width: 85%;
    }
    #logo {
        max-width: 250px;
        height: 250px;
    }
}

@media (min-width: 768px) {
    .collapse-mid {
        display: inline;
    }
    .container {
        width: 90%;
    }
    #logo {
        max-width: 300px;
        height: 300px;
    }
}

@media (min-width: 992px) {
    .collapse-mid {
        display: inline;
    }
    .container {
        width: 95%;
    }
    #logo {
        max-width: 350px;
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .collapse-mid {
        display: inline;
    }
    .container {
        width: 97%;
    }
    #logo {
        max-width: 400px;
        height: 400px;
    }
}