*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    font-size: 18px;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ebebee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    flex: 1 0 auto;
    align-items: center;
}

#logo {
    max-width: 500px;
    height: auto;
}

footer {
    padding: 0;
    min-height: 30px;
    background-color: #b1e6ff;
}

footer .footerbox {
    padding: 8px;
}

footer .contacts {
    min-width: 50%;
    padding: 12px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
}

footer .contacts p {
    text-align: left !important;
}

footer .contacts .head {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
}

footer .copyright {
    padding: 2px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #0051ff;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #cfcfcf;
}

.tiles {
    text-transform: uppercase;
    user-select: none;
    cursor: no-drop;
    width: 435px;
    height: 520px;
    display: flex;
    flex-direction: column;
    padding: 10px;  
    margin: 30px auto;
    justify-content: space-around;
}

.tiles-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tile {
    width: 70px;
    height: 70px;
    padding: 1px;
    display: flex;
    font-size: 32px;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    border: 2px solid #ffffff;
    background-color: #aaaaaa;
}

header {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    color: #ffffff;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    background-color: #0051ff;
    justify-content: space-between;
}

header .logo {
    padding: 10px;
    font-size: 40px;
    font-weight: bolder;
    align-content: center;
}

header .menu-btn {
    padding: 14px;
    text-align: end;
    font-size: 26px;
    margin-right: 10px;
}

.menu {
    display: none;
    width: 100%;
    top: 70px;
    color: #ffffff;
    position: absolute;
    background: #008ddd;
}

.menu ul {
    list-style: none;
    padding: 0px 20px;
}

.menu ul li {
    margin: 3px;
    color: #ffffff;
}

.menu ul li a {
    display: block;
    padding: 8px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.menu ul li a:hover{
    background-color: #006c9e;
}

.keyboard {
    margin: 30px auto;
    background-color: #fcf0e4;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(30, 1.2rem);
    grid-template-rows: repeat(3, 3rem);
    padding: 6px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.keyboard__key {
    max-width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    font-family: "Source Code Pro", monospace;
    outline: none;
    padding: 12px;
}
.keyboard__key:hover, .keyboard__key:focus {
    font-weight: 700;
}
.keyboard__key:active, .keyboard__key.active {
    box-shadow: none;
    background-color: #3f0ea2;
    color: #fff;
    font-weight: 400;
    cursor: grabbing;
    transform: translate(2px, 2px);
}
.keyboard__key--general {
    background-color: #7a96f2;
    box-shadow: 3px 3px 0 0 #1411a9;
}
.keyboard__key--special {
    background-color: #b031eb;
    box-shadow: 3px 3px 0 0 #3f0960;
}

.col-span-1 {
    align-items: center;
    grid-column: span 1;
    justify-content: center;
}

.col-span-2 {
    align-items: center;
    grid-column: span 2;
    justify-content: center;
}

.col-span-3 {
    align-items: center;
    grid-column: span 3;
    justify-content: center;
}

.col-span-4 {
    align-items: center;
    grid-column: span 4;
    justify-content: center;
}

.col-span-5 {
    align-items: center;
    grid-column: span 5;
    justify-content: center;
}

.scheme-2 {
    border: 2px solid #2c8b25 !important;
    background-color: #00c932 !important;
    color: rgb(255, 255, 255);
}

.scheme-1 {
    border: 2px solid #cca218 !important;
    background-color: #ffc500 !important;
}

.scheme-0 {
    border: 2px solid #222222 !important;
    background-color: #444444 !important;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.opt-btn {
    padding: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #3f0960;
    background-color: #b031eb;
    cursor: pointer;
}

.opt-btn:hover {
    background-color: #8b1dbe;
}

.opt-btn:focus {
    background-color: #581478;
}

.blocked {
    background-color: #1f2848 !important;
    box-shadow: 3px 3px 0 0 #03032b !important;
    color: #ffffff;
}

@media (max-width: 575px) {
    .collapse-mid {
        display: none;
    }
    .container {
        width: 80%;
    }
    #logo {
        max-width: 200px;
        height: 200px;
    }
    .keyboard {
        width: fit-content;
        grid-template-columns: repeat(30, 0.35rem);
        grid-template-rows: repeat(3, 2.6rem);
    }
    .tiles {
        width: 305px;
        height: 350px;
    }
    .tile {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }
}

@media (min-width: 576px) {
    .collapse-mid {
        display: none;
    }
    .container {
        width: 85%;
    }
    #logo {
        max-width: 250px;
        height: 250px;
    }
    .keyboard {
        width: fit-content;
        grid-template-columns: repeat(30, 0.6rem);
        grid-template-rows: repeat(3, 2.7rem);
    }
    .tiles {
        width: 345px;
        height: 400px;
    }
    .tile {
        width: 55px;
        height: 55px;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .collapse-mid {
        display: inline;
    }
    .container {
        width: 90%;
    }
    #logo {
        max-width: 300px;
        height: 300px;
    }
    .keyboard {
        width: fit-content;
        grid-template-columns: repeat(30, 0.85rem);
        grid-template-rows: repeat(3, 2.8rem);
    }
    .tiles {
        width: 375px;
        height: 440px;
    }
    .tile {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .collapse-mid {
        display: inline;
    }
    .container {
        width: 95%;
    }
    #logo {
        max-width: 350px;
        height: 350px;
    }
    .keyboard {
        width: fit-content;
        grid-template-columns: repeat(30, 1.25rem);
        grid-template-rows: repeat(3, 2.9rem);
    }
    .tiles {
        width: 405px;
        height: 490px;
    }
    .tile {
        width: 65px;
        height: 65px;
        font-size: 28px;
    }
}

#toast-container {
    position: fixed;
    top: 50px;
    right: 50%;
    transform: translate(50%, 0%);
    z-index: 9999;
}

.toast {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
    opacity: 0;
    border: 1px solid #ffffff;
    transition: all 0.5s ease-in-out;
}

.toast-default {
    background-color: #0051ff;
}

.toast-good {
    background-color: #0fc02a;
}

.toast-bad {
    background-color: #ff1362;
}

.toast-warn {
    background-color: #ffa913;
}

.toast.show {
    margin-top: 0;
    opacity: 1;
}

.toast.hide {
    position: absolute;
}


@media (min-width: 1200px) {
    .collapse-mid {
        display: inline;
    }
    .container {
        width: 96%;
    }
    #logo {
        max-width: 375px;
        height: 375px;
    }
    .keyboard {
        width: fit-content;
        grid-template-columns: repeat(30, 1.5rem);
        grid-template-rows: repeat(3, 2.95rem);
    }
    .tiles {
        width: 415px;
        height: 500px;
    }
    .tile {
        width: 65px;
        height: 65px;
        font-size: 28px;
    }
}