/* latin */
@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../font/MwQ5bhbm2POE2V9BPQ.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: url('../img/wordl-wallpaper.jpg'); */
    background-color: #121212;
    background-image: linear-gradient(135deg, #212121 0%, #000000 40%, #212121 100%);
    /* background: linear-gradient(135deg, #000000 0%, #1c1c1c 40%, #FFD700 100%); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    z-index: -1;
    min-height: 100vh;
    justify-content: space-between;
}

header .logo {
    max-width: 65vw;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    font-family: "Abel", serif;
}

header .menu-opt {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: row;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 5;
}

.menu-opt * {
    cursor: pointer;
}

header .menu-opt span {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: row;
}

.menu-list {
    display: flex;
    position: absolute;
    top: 35px;
    transform: translate(50%, 0%);
    right: 50%;
    background-color: #8995A3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 0.5rem;
    color: #ffffff;
    border-radius: 0.5rem;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menu-list .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    color: #ffffff;
    text-decoration: none;
    min-width: 100px;
}

.menu-list .menu-item:hover {
    color: #ECB23C;
}

#menu-toggle:checked+.menu-list {
    visibility: visible;
    opacity: 1;
}

.menu-opt:has(#menu-toggle:checked) {
    background-color: #474D59;
}

.header {
    display: flex;
    position: relative;
    height: 70px;
    flex-direction: row;
    color: #ffffff;
    align-items: center;
    padding: 8px;
    flex-direction: row;
    justify-content: space-between;
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gold-word-container {
    position: relative;
    margin: 0 auto;
    padding: 0.25rem;
    border-radius: 1rem;
    overflow: hidden;
}

.gold-word-container-r {
    background: conic-gradient(from 0deg at 50% 50%, #FFDC71 0%, #DC8725 25%, #ECB23C 50%, #D88620 75%, #FFDC71 100%);
    animation: rotate 3s linear infinite;
    position: absolute;
    top: -100%;
    left: -100%;
    bottom: -100%;
    right: -100%;
    border-radius: 1rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.words-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 435px;
    height: 520px;
    padding: 0.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #da8b26 0%, #fee487 40%, #f3c14e 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.words-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    width: 100%;
}

.letter-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #161618d0;
    /* background-image: linear-gradient(to top, #010203, #47555F); */
    background-image: url('../img/glitter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 900;
}

.keyboard {
    margin: 15px auto;
    background-color: #21212195;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(30, 1.2rem);
    grid-template-rows: repeat(3, 3rem);
    padding: 6px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.keyboard__key {
    position: relative;
    max-width: 100%;
    border: none;
    user-select: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    font-family: "Source Code Pro", monospace;
    outline: none;
    padding: 10px;
    color: #ffffff;
}

.keyboard__key--general::before {
    position: absolute;
    top: 8px;
    left: 8px;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
}

.keyboard__key.blocked::before {
    background-color: #444444;
}

.keyboard__key.schm-1::before {
    background-color: #FFDC71;
}

.keyboard__key.schm-2::before {
    background-color: #00FF00;
}

.keyboard__key:hover,
.keyboard__key:focus {
    font-weight: 700;
}

.keyboard__key:active,
.keyboard__key.active {
    box-shadow: none;
    background-color: #121212;
    color: #fff;
    font-weight: 400;
    cursor: grabbing;
    transform: translate(2px, 2px);
}

.keyboard__key--general {
    background-color: #000000;
    box-shadow: 3px 3px 0 0 #FFDC71;
}

.keyboard__key--special {
    background-color: #010204;
    box-shadow: 3px 3px 0 0 #DC8725;
}

.col-span-1 {
    align-items: center;
    grid-column: span 1;
    justify-content: center;
}

.col-span-2 {
    align-items: center;
    grid-column: span 2;
    justify-content: center;
}

.col-span-3 {
    align-items: center;
    grid-column: span 3;
    justify-content: center;
}

.col-span-4 {
    align-items: center;
    grid-column: span 4;
    justify-content: center;
}

.col-span-5 {
    align-items: center;
    grid-column: span 5;
    justify-content: center;
}

.scheme-2 {
    border: 2px solid #2c8b25 !important;
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 15px #00FF00, 0 0 20px #00FF00, 0 0 25px #00FF00, 0 0 30px #00FF00, 0 0 35px #00FF00;
    color: #ffffff;
}

.scheme-1 {
    border: 2px solid #cca218 !important;
    text-shadow: 0 0 5px #FFDC71, 0 0 10px #FFDC71, 0 0 15px #FFDC71, 0 0 20px #FFDC71, 0 0 25px #FFDC71, 0 0 30px #FFDC71, 0 0 35px #FFDC71;
}

.scheme-0 {
    text-shadow: 0 0 5px #333333, 0 0 10px #444444, 0 0 15px #555555, 0 0 20px #666666, 0 0 25px #777777, 0 0 30px #888888, 0 0 35px #999999;
    border: 2px solid #222222 !important;
    color: #ffffff;
}

footer {
    background-color: #212121;
    padding: 0.25rem;
    text-align: center;
}

@media (max-width: 575px) {
    .keyboard {
        width: fit-content;
        grid-template-columns: repeat(30, 0.35rem);
        grid-template-rows: repeat(3, 2.6rem);
    }

    .keyboard__key--general::before {
        top: 2px;
        left: 2px;
    }
}

@media (min-width: 576px) {
    .keyboard {
        width: fit-content;
        grid-template-columns: repeat(30, 0.6rem);
        grid-template-rows: repeat(3, 2.7rem);
    }

    .keyboard__key--general::before {
        top: 3px;
        left: 3px;
    }
}

@media (min-width: 768px) {
    .keyboard {
        width: fit-content;
        grid-template-columns: repeat(30, 0.85rem);
        grid-template-rows: repeat(3, 2.8rem);
    }

    .keyboard__key--general::before {
        top: 3px;
        left: 3px;
    }
}

@media (min-width: 992px) {
    .keyboard {
        width: fit-content;
        grid-template-columns: repeat(30, 1.25rem);
        grid-template-rows: repeat(3, 2.9rem);
    }

    .keyboard__key--general::before {
        top: 4px;
        left: 4px;
    }
}

.container {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#toast-container {
    position: fixed;
    top: 50px;
    right: 50%;
    transform: translate(50%, 0%);
    z-index: 9999;
}

.toast {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
    opacity: 0;
    border: 1px solid #ffffff;
    transition: all 0.5s ease-in-out;
}

.toast-default {
    background-color: #0051ff;
}

.toast-good {
    background-color: #0fc02a;
}

.toast-bad {
    background-color: #ff1362;
}

.toast-warn {
    background-color: #ffa913;
}

.toast.show {
    margin-top: 0;
    opacity: 1;
}

.toast.hide {
    position: absolute;
}