* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color: #f7f7ff;
    flex-direction: column;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 1px 10px 0px #212121;
}

header .logo {
    height: 100%;
    display: flex;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

header .logo img {
    width: 50px;
}

header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
}

header .menu .menu_item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    padding: 15px;
    color: #b0b0b0;
    text-decoration: none;
    margin: 15px;
    border: 1px solid transparent;
    transition: ease-in-out 0.4s;
}

header .menu .menu_item:hover {
    border: 1px solid #eee;
    color: #212121;
    font-weight: 6 00;
}

header .join {
    display: flex;
    align-items: center;
    padding: 10px;
}

header .join .btn-join {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    background-color: transparent;
}

header .join .btn-join:hover {
    box-shadow: 1px 1px 5px #aaa, -1px -1px 5px #aaa;
}

header .join .btn-join:focus {
    background-color: #ccc;
}

.container {
    margin-top: 30px;
    padding: 15px;
}

main{
    display: flex;
    margin-top: 70px;
    flex-direction: column;
}

main .banner {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    z-index: 5;
}

main .banner::before {
    position: absolute;
    content: '';
    height: 100px;
    z-index: -1;
    width: 100px;
    left: 50px;
    background-color: #0000ff12;
    border-radius: 50%;
}

main .banner::after {
    position: absolute;
    content: '';
    height: 120px;
    z-index: -1;
    width: 120px;
    top: 0;
    left: 25%;
    background-color: #00ffd912;
    border-radius: 50%;
}

main .banner .banner_text {
    width: 50%;
    position: relative;
    align-items: center;
    font-size: 16px;
}

main .banner .banner_text::before{
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    z-index: -1;
    height: 32px;
    top: -10px;
    border-radius: 50%;
    transform: rotate(35deg);
    background-image: conic-gradient(transparent 270deg, #3a86ff 270deg);
}

main .banner .banner_text::after{
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    z-index: -1;
    top: -10px;
    right: 3px;
    border-radius: 50%;
    transform: rotate(70deg);
    background-image: conic-gradient(transparent 90deg, #8338ec 90deg);
}

main .banner .banner_text p {
    margin-top: 30px;
    font-size: 18px;
    position: relative;
}

main .banner .banner_text p::before{
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: -20px;
    z-index: -1;
    border-radius: 50%;
    transform: rotate(120deg);
    background-image: conic-gradient(transparent 270deg, #ff006e 270deg);
}

main .banner .banner_text p::after{
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    z-index: -1;
    top: -22px;
    right: 3px;
    border-radius: 50%;
    transform: rotate(155deg);
    background-image: conic-gradient(transparent 135deg, #fb5607 135deg);
}

main .banner .banner_text .banner_quote {
    font-size: 72px;
    color: #121212;
    font-weight: 600;
    position: relative;
}

main .banner .banner_text .banner_quote::before {
    content: '';
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    left: 22%;
    background-color: red;
}

main .banner .banner_text .banner_quote::after {
    content: '';
    width: 28px;
    height: 28px;
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    right: 22%;
    bottom: 10px;
    background-image: conic-gradient(transparent 135deg, #ffbe0b 135deg);
}

main .banner .banner_text .banner_join {
    position: relative;
    z-index: 5;
}

main .banner .banner_text .banner_join::before {
    position: absolute;
    content: '';
    height: 90px;
    width: 90px;
    z-index: -1;
    left: 20%;
    background-color: #ff00b712;
    border-radius: 50%;
}

main .banner .banner_text .banner_join::after {
    position: absolute;
    content: '';
    z-index: -1;
    height: 90px;
    width: 90px;
    right: 20%;
    bottom: 5%;
    background-color: #00ff4412;
    border-radius: 50%;
}

main .banner .banner_text .banner_join .btn-join-2 {
    margin-top: 20px;
    padding: 10px 24px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 124px;
    font-size: 15px;
    border: 0;
    border-bottom-right-radius: 0;
    box-shadow: 1px 1px 5px #eee, -1px -1px 3px #aaa;
    background-color: #efb547;
    transition: ease-in-out 0.6s;
}

main .banner .banner_text .banner_join .btn-join-2:hover {
    box-shadow: 1px 1px 5px #eee, -1px -1px 3px #aaa, inset 1px 1px 5px #555, inset -1px -1px 3px #555;
}

main .banner .banner_text .banner_join .btn-join-2:focus {
    transition: ease-in-out 1s all;
    box-shadow: inset 1px 1px 5px #222, inset -1px -1px 3px #222;
    background-image: linear-gradient(to bottom right, #df9d24, #b97f15);

}

main .banner .banner_image {
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    overflow: hidden;
}

main .tracks {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
}

main .tracks .track_item {
    width: 340px;
    display: flex;
    margin-right: 20px;
    flex-direction: row;
}

main .tracks .track_item .track_logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 1.5rem;
    background-color: #fff;
    font-size: 48px;
    transition: ease-in-out 0.3s;
    box-shadow: 1px 1px 5px #aaa, -1px -1px 5px #aaa;
}

main .tracks .track_item .track_logo:hover {
    box-shadow: 1px 1px 10px #a0a0a0, -1px -1px 10px #a0a0a0;
}

main .tracks .track_item .track_info {
    width: 70%;
}

main .tracks .track_item .track_info .track_info_title {
    font-size: 24px;
    font-weight: bold;
    color: #121212;
}

main .tracks .track_item .track_info .track_info_brief {
    font-size: 18px;
    color: #555;
}

main .aboutus {
    display: flex;
    flex-direction: column;
}

main .aboutus h2 {
    text-align: center;
    font-size: 32px;
}

main .aboutus h4 {
    color: #555;
    margin-top: 15px;
    text-align: center;
}

main .goals {
    display: flex;
    height: 250px;
    flex-direction: row;
    justify-content: space-around;
}

main .goals .goal_item {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 20px;
    transition: ease-in-out 0.4s;
    box-shadow: 1px 1px 8px #444, -1px -1px 4px #888;
}

main .goals .goal_item:hover {
    box-shadow: 1px 1px 18px #222, -1px -1px 14px #222;
}

main .goals .goal_logo {
    font-size: 48px;
    border-radius: 1rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    margin-top: 5px;
}

main .goals .goal_head {
    font-size: 22px;
    font-weight: bold;
    color: #121212;
}

main .goals .goal_brief {
    margin-top: 15px;
    color: #555;
}

main .courses {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

main .courses h2 {
    font-size: 32px;
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
}

main .courses .courses_set {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

main .courses .courses_set .course_item {
    width: 300px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #fff;
    color: #000;
    border: 2px solid #471d8b;
    /* box-shadow: 1px 1px 5px #b28bf0, -1px -1px 5px #b28bf0; */
    transition: ease-in-out 0.5s;
}

main .courses .courses_set .course_item:hover {
    transform: scale(1.05);
}

main .courses .courses_set .course_item .course_item_image {
    display: flex;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

main .courses .courses_set .course_item .course_item_title {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0px;
}

main .courses .courses_set .course_item .course_instructor {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-top: 0;
}

main .courses .courses_set .course_item .course_instructor span {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

main .courses .courses_set .course_item .course_item_more {
    display: flex;
    flex-direction: row;
    padding: 0px 20px 15px 10px;
    color: #5459e8;
    align-items: center;
    font-weight: 18px;
    font-weight: bold;
    justify-content: space-between;
}

main .courses .courses_set .course_item .course_item_more .level {
    color: #3a86ff;
}

main .courses .courses_set .course_item .course_item_more .course_enroll {
    background-color: #5459e8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 1.25rem;
    border: 0;
    font-weight: bold;
    transition: ease-in-out 0.4s;
}

main .courses .courses_set .course_item .course_item_more .course_enroll:hover {
    background-color: #363bc4;
}

main .benefits {
    display: flex;
    flex-direction: row-reverse;
}

main .benefits .benefits_info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    padding-left: 35px;
}

main .benefits .benefits_info h2 {
    font-size: 36px;
    font-weight: bold;
    color: #121212;
}

main .benefits .benefits_info .benefits_info_brief {
    color: #555;
    padding: 10px 0;
}

main .benefits .benefits_info .benefits_info_bens {
    display: flex;
    flex-direction: column;
}

main .benefits .benefits_info .benefits_info_bens .benefit {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    margin: 15px 0;
}

main .benefits .benefits_info .benefits_info_bens .benefit .benefit_logo {
    width: 80px;
    height: 100%;
    background-color: #fff;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: ease-in-out 0.2s;
    box-shadow: 1px 1px 5px #aaa, -1px -1px 5px #aaa;
}

main .benefits .benefits_info .benefits_info_bens .benefit .benefit_logo:hover {
    box-shadow: 1px 1px 10px #a0a0a0, -1px -1px 10px #a0a0a0;
}

main .benefits .benefits_info .benefits_info_bens .benefit .benefit_text {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}

main .benefits .benefits_banner {
    display: flex;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    overflow: hidden;
}

footer {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-between;
}

footer .footer_logo {
    width: 30%;
    height: 100%;
    display: flex;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
}

footer .footer_logo .footer_logo_u {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
}

footer .footer_logo .copy {
    font-size: 12px;
    color: #555;
}

footer .footer_logo img {
    width: 50px;
}

footer .footer_info {
    width: 30%;
}

footer .footer_info h3 {
    text-align: center;
    margin: 10px;
}

footer .footer_info .smedias {
    color: #555;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-around;
}

footer .footer_info .smedias .smedia {
    width: 32px;
    color: #555;
    height: 32px;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: ease-in-out 0.2s;
    border: 1px solid #555;
}

footer .footer_info .smedias .smedia:hover {
    transform: scale(1.05);
    color: #222;
}

footer .footer_contacts {
    width: 30%;
}

footer .footer_contacts h3 {
    text-align: center;
    margin: 10px;
}

footer .footer_contacts .contact_list {
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    flex-direction: column;
}